@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
:root {
    --accent-color: #0ea5e9;
    --light-color: white;
    --shaded-color:  #ebebeb;
    --shadow-color: rgba(187, 187, 187, 0.603);
}

* {
    /* border: 1px dashed red; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

.book {
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 24px;
    width: 400px;
    position: relative;
}

#form-container {
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr 2fr) 2fr 2fr;
    gap: 12px;
    width: 600px;
    border-radius: 10px;
    padding: 36px;
    border: none;
    background-color: rgb(230, 230, 230);
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 5%);
}

#form-container label {
    align-self: end;
}

#form-container input {
    /* height: 48px; */
    font-size: 28px;
    padding-left: 12px;
}

#form-popup {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(218, 213, 213, 0.178);
    backdrop-filter: blur(5px);
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;

}

#btn-show-form {
    background-color: rgb(85, 85, 85);
    color: white;
    height: 75px;
    width: 75px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    font-size: 48px;
}

#btn-cancel {
    background-color: rgb(180, 36, 36);
    color: white;
    /* padding: 16px 20px; */
    border: none;
    cursor: pointer;
    opacity: 0.8;
    /* width: 280px; */
}

#btn-submit {
    background-color: rgb(65, 74, 209);
    color: rgb(0, 0, 0);
    /* padding: 16px 20px; */
    border: none;
    cursor: pointer;
    opacity: 0.8;
}

.btn-delete {
    background-color: rgb(255, 0, 0);
    border-radius: 50px;
    border: 1px solid rgba(141, 0, 0, 0.685);
    height: 24px;
    width: 24px;
    font-size: 18px;
    color: black;
    box-shadow: 5px 5px 5px rgba(146, 146, 146, 0.5);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}